!!!5
html(class="no-js", lang="en-au")
  head

    meta(charset="utf-8")
    meta(http-equiv="X-UA-Compatible", content="IE=edge,chrome=1")

    title HTML Project Kickstarter

    meta(name="description", content="")
    meta(name="viewport", content="width=device-width")

    link(rel="stylesheet", href="library/stylesheets/normalize.css")
    link(rel="stylesheet", href="library/stylesheets/main.css")

    // if IE
      script(src="http://html5shiv.googlecode.com/svn/trunk/html5.js")

    // Google Webmaster Tools and Analytics code.

  body

    h1 Hello World.

    p
      | This HTML page is brough to you by&nbsp;
      a(href="http://jade-lang.com/", title="Link to Jade") Jade

    // script(src="//ajax.googleapis.com/ajax/libs/jquery/1/jquery.min.js")
    // script
      window.jQuery || document.write('<script src="library/javascripts/vendor/jquery-1.8.2.min.js"><\/script>')

    script(src="library/javascripts/main.js")
    script(src="library/javascripts/plugins.js")
